#quanxian h5{float: left}
#chousejoinType{float: right}
.mui-input-row{width: 96%;margin-left: 2%;}
.nextbtn{width: 80%;margin-left: 10%;}

.deathPhoto{width:40%;margin:0 auto;text-align: center;}
.completebtn,.backbtn{float:left;width: 36%;margin-left: 10%;}
.deathPhoto{
			height: 370px;
			margin-top: 10px;
			padding: 20px 17px;
		}