#quanxian{float:left;margin-top: 8px;}
#quanxian h5{float: left;}
.switchdiv{position: absolute;right: 6%;}
.mui-input-row{width: 96%;margin-left: 2%;}
.nextbtn{width: 80%;margin-left: 10%;}

.deathPhoto{width:40%;margin:0 auto;text-align: center;}
.completebtn,.backbtn{float:left;width: 36%;margin-left: 10%;}
