 body {
     background-color: #FFFFFF;
 }

 .btn {
	 width: 60px;
     padding: 3px 3px;
       background-color: rgb(221, 221, 221);
     display: inline-block;
 }

 .btn-primary {
	 background-color: #337ab7;
	
 }

 .person-data-item {
     width: 120px;
	 text-align: center;
 }

 .mui-radio label {
     width: auto;
 }

 .mui-checkbox,
 .mui-radio {
     display: inline-block;
 }

 .image {
     text-align: center;
 }

 .image label {
     text-align: left;
 }
 .image label~input {}

 .image label~input {
     width: 42px;
     height: 42px;
     float: none;
 }

 #edit {
     display: none;
 }

 .mui-table-view .mui-media-object {
     width: 42px;
 }

 .fz-12 {
     line-height: 25px;
 }

 .mui-table-view-cell {
     padding: 10px 15px;
 }

 .img-circle {
     border-radius: 50%;
     vertical-align: middle;
     border: 0;
 }

 .jiapu-name {
	 overflow: hidden;
	 white-space: nowrap;
     max-width: 92px;
     text-overflow: ellipsis;
 }
.fz-16 .btn:last-child{
	border-left: 1px solid #000000;
}

 ul,li{ margin:0; padding:0; list-style:none; font-size:12px;}
 .popup_menu{position:absolute; z-index:999; border:1px solid #AEAEAE; padding:2px; width:120px;background-color: white}
 .popup_menu a{ display:block; color:#325B8E; text-indent:12px; text-decoration:none; height:26px; line-height:25px; padding-right:5px;}
 .popup_menu a:hover{ background:#57B4E4; color:#fff; border-radius:5px;}
 .show-canvas-content{overflow: scroll;width: 100%}