.header {
	background: #274770;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.header h1 {
	color: #FFFFFF;
}

.bannertop {
	margin-top: 0px;
}

.mybanner {
	background-image: url(../img/my.png);
	width: 100%;
	height: 140px;
}

.mybanner img {
	width: 20%;
	margin-left: 40%;
	margin-top: 20px;
}

.mybanner h4 {
	text-align: center;
	color: #FFFFFF;
}

.yunbi {
	width: 100%;
	height: 80px;
	background: #FFFFFF;
	margin-top: 2px;
	float: left;
}

.ybyue {
	margin-left: 20%;
	float: left;
}

.yunbi span {
	font-size: 20px;
	line-height: 80px;
}

.payyb {
	float: left;
	margin: 20px 20px 20px 20%;
}

.phone {
	float: left;
	width: 100%;
	height: 60px;
	background: #FFFFFF;
	margin-top: 2px;
}

.phone a {
	font-size: 16px;
	color: #808080;
	line-height: 60px;
	margin-left: 5%;
}

.phone span {
	float: right;
	margin-right: 5%;
	line-height: 60px;
}

.setuser {
	clear: both;
	width: 100%;
	height: 60px;
}

.mCreat {
	z-index: -1;
}

#creatBtn {
	float: left;
	margin-top: -70px;
	margin-left: 200px;
}

#recharge1 {
	float: left;
	width: 100px;
}


/*#recharge1 img{height:40px;}*/
.cont{padding: 10px;}
.xs h4 {
	padding:10px;
	color: #00000;
}

.xs h5 {
	padding: 4px 20px;
	color: #333333;
}

#content {
	margin:10px;
	/*border: 1px #898989 solid;
	padding: 10px;*/
	font-size: 16px;
	color:#000000 ;
    height: auto;  
    word-wrap:break-word;  
    word-break:break-all;  
    overflow: hidden; 
    background: auto;
}


/*.cont hr{background-color: #F7F7F7;height: 1px; width: 90%;}
.message hr{background-color: #F7F7F7;height: 1px;}*/
.message {
	padding: 10px 20px;
}

.message #sendLev {
	width: 66px;
	height: 36px;
	background: #007AFF;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 20px;
	margin-left:76%;
}
/*.xs hr{width:80%;color: #FFFFFF;}*/
