body {
    background-color: #fff;
}

input[type=search] {
    background-color: rgba(255, 255, 255, .1);
    border: 1px rgba(0, 0, 0, .1) solid;
}
.mui-table-view-cell .mui-media-body{
    position:relative;
}
.time,.addr{
position: absolute;
right: 0;
}
.time{top: 0;}
<<<<<<< HEAD
.addr{bottom:0}

.shu {
    padding: 0 4px;
}
.mui-table-view .mui-media-object.mui-pull-left {
    margin-right: 20px;
}
=======
.addr{bottom:0}
>>>>>>> ac23a54e09fa706088c679ff5ad1d38c73666e91
